--- 
apiVersion: networking.k8s.io/v1 
kind: Ingress 
metadata: 
  name: bggapp-ing
  namespace: bggns
spec: 
  ingressClassName: nginx 
  rules: 
  - host: bgg-167.172.5.145.sslip.io
    http:
      paths:
      - path: / 
        pathType: Prefix
        backend:
          service:
            name: bggapp-ing-svc 
            port:
              number: 5000

---
apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: bggdb-hpa
  namespace: bggns
spec: 
  minReplicas: 1
  maxReplicas: 6
  scaleTargetRef: 
    apiVersion: v1 
    kind: Service 
    name: bggapp-svc
  metrics: 
  - type: Resource
    resource:
      name: memory # cpu
      target: 
        type: Utilization 
        averageUtilization: 80
      
